* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
}

.cards {
  background-color: grey;
  padding: 10px;
  margin: 10px 20px;
  font-size: large;
  line-height: 2rem;
}

h1 {
  text-align: center;
  background-color: purple;
  padding: 10px;
  border: 2px solid green;
  /* display: inline-block; */
}
